.productsPage{
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    position: relative;


    .sidebar{
        width: 200px;
        .filterSection{
            margin-bottom: 30px;
            background-color: rgb(224, 221, 221);
            padding: 10px;
            border-radius: 10px;
            font-size: 17px;
            box-shadow: 0 2px  5px rgba(0, 0, 0, 0.5);
    
    
            .filterLabel{
                margin-bottom: 10px;
                cursor: pointer;
                position: relative;
            }
    
            .filterLabel::after{
                content: '-';
                font-size: 25px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
    
            .filterContent{
                max-height: 300px;
                overflow: hidden;
                transition: max-height .3s ease;
            }
    
            .filterOption{
                margin-bottom: 5px;
                label{
                    cursor: pointer;
                }
                input[type="checkbox"]{
                    margin-right: 5px;
                    cursor: pointer;
                    
                }
            }
    
        }
    }

    

    .filterSection.shrink{
        
        .filterLabel::after{
            content: '+';
        }

        .filterContent{
            max-height: 0px;
        }
    }
}

.productsList{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 0 30px;
}

.loading{
    width: 100px;
    height: 100px;
    margin: auto;
}

.prodContent{
    flex: 1;
}

    .filters{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .searchInput{
            flex: 0.9;
            input{
                font-family: 'Nunito Sans', sans-serif;
                width:100%;
                font-size: 18px;
                padding: 5px 10px;
                border: 2px #000000 solid;
                border-radius: 20px;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.479);
            }

            input:focus{
                outline: none;
                border: 2px #ad804b solid;
                box-shadow: 0 0 10px #ad804b;
            }
        }

        
    }

    .pagination{

        display: flex;
        
        button{
            font-family: 'Nunito Sans', sans-serif;
            margin-right: 5px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            border: none;
            border-radius: 2px;
            font-weight: 500;
            font-size: 20px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
        }

        button:hover{
            background-color: #ffdbae;
        }

        .active{
            background-color: #ad804b;
            color: #fff;
        }
        .active:hover{
            background-color: #ad804b;
            color: #fff;
        }
    }

    .paginationBottom{
        width: 100%;
        div{
            margin: 20px auto;
        }
    }

    .priceOrderBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100px;
        padding: 10px;
        font-size: 18px;
        border: none;
        background-color: #ad804b;
        color: #fff;
        cursor: pointer;
        font-family: 'Nunito Sans', sans-serif;
        justify-content: space-between;
        transition: box-shadow .3s ease;
    }
    .priceOrderBtn:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .itemsNotFound{
        p{
            font-size: 20px;
            width: fit-content;
            margin: auto;
            text-align: center;
        }
    }