*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    margin-top: 100px;
}


body{
    background-color: #ebebeb;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

